@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.navbar,
.searchBar {
    background-color: #68b3f5;
    display: flex;
    padding: 0 1vw 2vh;
}

button,
input {
    border: none;
    padding: 5px;
    font-size: 2vw;
}


/*Navbar*/

.navbar {
    justify-content: space-between;
    padding-top: 5vh;
}

h1 {
    color: #fff;
    font-size: 3.5vw;
}

button {
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
    margin-right: 2vw;
}

img {
    width: 10%;
    height: auto;
}


/*Input fields*/

.searchBar {
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label {
    color: #fff;
    font-size: 4vw;
    font-weight: 700;
    display: block;
}

input {
    margin-top: 5vh;
    text-align: center;
    border-radius: 3px;
}

.inputValue {
    outline: none;
}

.submit {
    color: #fff;
    background-color: rgb(126, 126, 126);
}


/* Weather*/

.display {
    height: 50vh;
}


/* Default weather*/

.notSearched {
    text-align: center;
    display: none;
}

.notSearched span {
    color: rgb(126, 126, 126);
    margin-top: 10vh;
    display: block;
    font-size: 140%;
}

.notSearched img {
    margin-top: 10vh;
    width: 20%;
}


/*Searched weather*/

.searched {
    color: white;
    height: 100%;
    display: none;
}

.searchDisplay {
    background-color: rgba(104, 179, 245, 0.61);
    margin: 2% 20%;
    text-align: center;
    height: 90%;
    padding: .5% 2%;
    border-radius: 10px;
}

.city {
    position: relative;
    right: 40%;
    font-size: 3.5vw;
    font-weight: bolder;
}

.temp {
    position: relative;
    right: 40%;
    top: 10%;
    font-size: 10vw;
    font-weight: bolder;
}

.stats {
    font-size: 2vw;
    position: relative;
    bottom: 70%;
}

.stats span {
    display: block;
    padding: 10px;
}


/* Searched weekly*/