@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.navbar,
.searchBar {
    background-color: #68b3f5;
    display: flex;
    padding: 0 1vw 2vh;
}

button,
input {
    border: none;
    padding: 5px;
    font-size: 2vw;
}


/*Navbar*/

.navbar {
    justify-content: space-between;
    padding-top: 5vh;
}

h1 {
    color: #fff;
    font-size: 3.5vw;
}

button {
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
    margin-right: 2vw;
}

img {
    width: 10%;
    height: auto;
}


/*Input fields*/

.searchBar {
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label {
    color: #fff;
    font-size: 4vw;
    font-weight: 700;
}

input {
    margin-top: 5vh;
    text-align: center;
    border-radius: 3px;
}

.inputValue {
    outline: none;
}

.submit {
    color: #fff;
    background-color: rgb(126, 126, 126);
}


/* Default weather*/


/*Searched weather*/


/* Searched weekly*/